* {
    box-sizing: border-box;
    font-family: "Cormorant Garamond", serif;
}
body {
    background-color: #fff8e0;
    background-size: 100%;
}
h2 {
    color: black;
}
.wrapper {
    width: 1100px;
    margin: 30px auto;
    border: 1px solid white;
    border-radius: 20px;    
    background: radial-gradient(circle, #eaff75 0%, white 34%);
    background-repeat: no-repeat;
}
.logo {
    font-size: 40px;
}
header {
    display: flex;
    margin: 50px;
    justify-content: space-between;
}
nav {
    display: flex;
    width: 600px;
    font-size: 24px;
    justify-content: space-around;
    border: solid 1px #dedede;
    border-radius: 10px;
    text-align: center;
}
nav a {
    padding: 10px;
    color: black;
    text-decoration: none;
}
nav a:hover, .logo:hover, h2:hover {
    color: #cdcf48;
    filter: drop-shadow(0 0 0.75rem #819c30);
    transition: 0.5s;
}
nav a:hover {
    text-decoration: underline dotted;
}
.container h2 {
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
}
.card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    font-size: 30px;
    font-weight: 900 !important;
    text-align: right;
    margin-left: 20px;
    color: #cdcf48;
    text-transform: uppercase;
}
.card img {
    width: 500px;
}

.container {
    text-align: center;
    padding: 20px;
}
form input, textarea {
    border-radius: 30px;
    border: 1px solid #cdcdcd;
    margin: 5px;
    text-align: center;
    font-size: 20px;
}
form input:hover, textarea:hover {
    border: none;
    background-color: beige;
    transition: 0.5s;
}
textarea::placeholder {
    padding-top: 90px;
}
textarea {
    width: 70%;
    height: 200px;
}
button {
    margin: 20px;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    background-color: #d2e469;
    border: none;
    font-size: 20px;
}
button:hover {
    background-color: white;
    filter: drop-shadow(0 -2mm 4mm #cdcf48);
    transition: 0.5s;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.examp {
    border-radius: 30px;
    width: 500px;
    height: 470px;
}
.examp:hover {
    filter: blur(2px);
    transition: 0.5s;
}
.link {
    width: 20px;
}
.btn {
    display: flex;
    width: 1100px;
    justify-content: space-evenly;
    font-size: 30px;
    margin: 30px;
    gap: 50px;
}
.btn a:hover {
    background-color: white;
    filter: drop-shadow(0 -2mm 4mm #cdcf48);
    transition: 0.5s;
}
.btn a {
    width: 470px;
    text-decoration: none;
    margin: 20px;
    border-radius: 30px;
    height: 50px;
    background-color: #d2e469;
    border: none;
    font-size: 20px;
    padding: 15px 200px;
    color: black;
}
footer {
    font-size: 24px;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    padding: 30px 10px;
    text-align: center;
    background-color: #cdcf48;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
}
.flex-elem-3 {
    margin: 0 10px;
}
footer img {
    width: 50px;
}
footer:hover {
    background-color: #96a46b;
    transition: 0.5s;
}